body {
    background-color: #dee5e5;
}

.bg-navbar {
    background-color: #313E50;
}

.navbar-collapse {
    justify-content: flex-end;
}

.form-control {
    border: 3px solid black;
}

.form-button:hover {
    background-color: #38639e;
}

.validation-border {
    border: 2px solid red;
}

.red-text {
    color: red;
}

.height {
    width: 80%;
    height: 100px;
}
.containerOne {
    background-color: #189AAA;
    width: 80%;
    height: 30%;
    margin-left: 200px;
    height: 200px;
}

.containerTwo{
    background-color: #313E50;
    color: white;
    width: 10%;
    padding: 20px;
    text-align: center;
    margin-left: 45%;
    margin-top: 90px;
}

.title {
    font-size: 30px;
    letter-spacing: 10px;
}

